h2{
    text-align: center;
}
#container{
width: 100%;
height: 300px;
border: 2px solid black;
background-color: rgb(199, 197, 197);
 display: flex;
 margin: 10px auto;
 flex-direction:row;
 justify-content: space-between;
 justify-content: space-evenly;
}
#container div{
    height: 100px;
    width: 150px;
    color: white;
    text-align: center;
}