* {
  margin: 0;
  font-family: Arial;
  border: border-box;
}
.nav_bar {
  background-color: black;
  color: white;
  max-height: 70px;
  display: flex;
  align-items: center;
}
.nav_logo {
  height: 50px;
  width: 100px;
  margin-left: 30px;
}
.logo {
  height: 50px;
  background-image: url("amazon_logo.png");
  width: 100px;
  background-size: cover;
}
.border {
  border: 2px solid transparent;
}
.border:hover {
  border: 1.5px solid white;
}
.add_1 {
  color: #cccccc;
  font-size: 0.85rem;
  margin-left: 30px;
}
.add_2 {
  font-size: 1rem;
  margin-left: 1px;
}
.nav_icon {
  display: flex;
  padding-left: 17px;
}

.search_icon {
  background-color: rgb(235, 167, 11);
  width: 50px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}
.nav_search {
  margin-left: 50px;
  display: flex;
  height: 40px;
}
.search_input {
  width: 700px;
  font-size: medium;
  border: none;
}
.search_select {
  background-color: #f3f3f3;
  border: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
span {
  font-size: 0.7rem;
  margin-left: 100px;
}
.Accounts {
  margin-left: 100px;
  font-size: small;
  font-weight: bold;
}
.Orders {
  margin-left: 100px;
  font-size: small;
  font-weight: bold;
}
.nav_search:hover {
  border: 2px solid rgb(235, 167, 11);
}
.cart_icon {
  margin-left: 100px;
  display: flex;
  font-size: 25px;
  padding-top: 10px;
}
.cart_para {
  font-size: 13px;
  margin-top: 10px;
  font-weight: bold;
}
.panel {
  background-color: rgb(43, 42, 42);
  height: 40px;
  display: flex;
  color: white;
  align-items: center;
}

.panel_all {
  padding-left: 15px;
}
.panel_options p {
  display: inline;
  font-size: 14px;

  margin-left: 20px;
}
.panel_options {
  padding-left: 10px;
  width: 76%;
}
.panel-deals {
  padding-left: 30px;
}
.deals {
  font-weight: bold;
}
.hero {
  background-image: url(hero_image.jpg);
  background-size: cover;
  height: 350px;
  display: flex;

  justify-content: center;
  align-items: flex-end;
}

.hero-msg {
  background-color: white;
  color: black;
  height: 40px;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 0.95rem;
  margin-bottom: 25px;
  width: 1000px;
}

a {
  color: rgba(20, 84, 7, 0.806);
}
.shop-sec {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: rgb(202, 216, 214);
}
.box {
  border: 2px solid rgb(255, 255, 255);
  height: 350px;
  width: 400px;
  margin-top: 10px;
  background-color: white;
  padding: 20px 0px 10px;
}
.box-img {
  height: 270px;
  background-size: cover;
  margin-top: 10px;
  margin-bottom: 20px;
}
.box-con {
  margin-left: 20px;
  margin-right: 20px;
}
#h3 {
  font-weight: bolder;
}
footer {
  margin-top: 5px;
}
.start {
  background-color: #37475a;
  color: white;
  height: 50px;
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 0.85rem;
}
.mid {
  background-color: #242f3c;
  height: 400px;
  display: flex;
  justify-content: space-evenly;
}
.con {
  padding-top: 60px;
  padding-left: 70px;
  padding-right: 80px;
  display: flex;
}

.p1 {
  font-weight: bold;
  font-size: 20px;
  color: #f3f3f3;
}
ul a {
  display: block;
  color: #cccccc;
  font-size: 17px;
  margin-top: 9px;
}

.panel3 {
  margin-top: 0.2px;
  background-color: #242f3c;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.end-logo {
  height: 50px;
  background-image: url("amazon_logo.png");
  width: 100px;
  background-size: cover;
}
.end {
  background-color: #0b1624;
  height: 100px;

  font-size: 0.9rem;
  text-align: center;
}
.end a {
  color: #cccccc;
}
.pages {
  padding-top: 25px;
  padding-left: 10px;
  padding-bottom: 10px;
}
.copywrite {
  padding-top: 10px;
}
