#border{
    text-align: center;
    border-color: blue;
    border-width: 5px;
    border-style: double;
}
/* shorthand border */
/* width style color  */
#border{
    border:5px solid blueviolet ;
    /* different sides of border  */
    border-left:5px solid  yellow ;
    border-right:5px solid  yellow ;
}
 p{
    text-align: center;
    border-radius: 20px;
    border:5px solid aqua;
     
 }
 /* circle  */
 div{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 5px solid violet;

 }
 #box{
    border-radius: 5px;
    border-top-right-radius: 50px;
    border: 2px dashed blue ;
 }