#div1{
    background-color: black;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    transition: 150ms;
    transition-delay: 200ms;
    margin: 0 auto;
}
#div1:hover{
    background-color: aqua;
    height: 200px;
    width: 200px;
    border-radius: 0px;
}  
button {
    background-color: black;
    color: aliceblue;
    height: 50px;
    width: 100px;
    border-radius: 10%;
    transition: margin-top 2s ease-in 0.2s;  
    margin-top:10px;
}
    

button:hover {
    margin-top: 400px;
    background-color: rgb(225, 222, 42);
    
}
