h1 {
  text-align: center;
  /* "font weight adjust the size of text */
  font-weight: bolder;
  /* space between letters */
  letter-spacing: 5px; 
  /* size of font  */
  font-size: 50px;
}
h2 {
  text-align: end;
  font-weight: 400;
  /*line cut text  */
  text-decoration: line-through white;
   font-size: 25px;
}
h3 {
  text-align: center;
  font-weight: 800;
  /* make a line above  the text */
  text-decoration: overline chocolate;
   font-size: 10px;
}
p {
  /* align text to right of page */
  text-align: left;
  /* maek text bolder */
  font-weight: bold;
  /* make a line under the text  */
  text-decoration: underline cornflowerblue;
  /* space between the lines  */
  line-height: 2.5;
  font-size: 20px;
}
.one {
  text-align: right;
  text-decoration: wavy underline purple;
  line-height: 1;
}
.two {
  text-decoration:  dashed underline;
  
  letter-spacing: 4px;
}
/* remove line under ancher tag  */
a{
    text-decoration: none;
}
