  /* descendant selector */
  /* .container {
    color: rgba(0, 0, 255, 0.484);
  }
 .container a{
  color:darkslategrey;
 }
 .container a:hover{
  color:rgb(231, 164, 55);
  text-decoration: none;
  }
  .container button{
    background-color: rgb(231, 164, 55);
  } */
   /* child combinator give direct tag not multiple tag  */
  div>p{
 color: #00000052;
 }