#id{
    color: chocolate;
}
 /* chsnging first line  */
p::first-line{
    color: blueviolet;
}
/* make the selected area colores */
p::selection{
    color: darkkhaki;

}
#id:hover{
    color: green;
}
/* changing first letter  */
#id::first-letter{
    color: rgb(255, 225, 127);
}
h1::selection{
    color: rgb(8, 58, 58);
}