 #main{
     font-family:   Georgia, Times, 'Times New Roman', serif;
 }
 *{
    text-align: center;
 }
h1 {
    color: blue;
}
.pclass{
   color: white;
   background-color: cornflowerblue;
}
div button{
    background-color:purple ;
    color: azure;
}
 button:hover{
    background-color: yellow;
    color: blue;
 }
 p:nth-of-type(odd){
    color: yellow;
 } 
 h1::first-letter{
    color: red;
 }
 #yes:checked+label{
    color: rgb(41, 255, 41);
 }
